<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Home - Diagnostisator</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
	 crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/css/selectize.min.css">
	<style>
		.diseases-list {
			display: flex;
			justify-content: space-around;
		}

		.diseases-list>* {
			padding: 10px;
		}
	</style>
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="/">Diagnostisator</a>
	</nav>

	<form class="container" method="POST" action="/predict">
		<br/>
		<h1>Stel een diagnose</h1>
		<p>
			De volgende ziektes kunnen voorspelt worden:
			<div id="predictable-diseases" class="diseases-list"></div>
		</p>
		<br/>
		<section class="row">
			<div class="col-sm-12 col-md-4">
				<h3>Symptomen</h3>
				<select id="symptoms-input" list="mylist" name="symptoms" placeholder="Voer uw symptomen in" required>
					{% for symptom in symptoms %}
					<option>{{symptom}}</option>
					{% endfor %}
				</select>
			</div>
			<div class="col-sm-12 col-md-4">
				<h3>Leeftijd</h3>
				<div class="input-group mb-3">
					<input type="number" class="form-control" id="age" name="age" placeholder="Voer uw leeftijd in" min="0" max="150" required/>
					<div class="input-group-append">
						<span class="input-group-text">jaar oud</span>
					</div>
				</div>
			</div>
			<div class="col-sm-12 col-md-4">
				<div class="form-group">
					<h3>Geslacht</h3>
					<select class="form-control" id="gender" name="gender" placeholder="Voer uw geslacht in" required>
						<option value="0">Vrouw</option>
						<option value="1">Man</option>
					</select>
				</div>
			</div>
		</section>
		<button type="submit" class="btn btn-primary" style="float: right;">Voorspel een diagnose</button>
	</form>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	 crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
	 crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
	 crossorigin="anonymous"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/js/standalone/selectize.min.js"></script>

	<script>
		$("#symptoms-input").selectize({
			plugins: ['remove_button'],
			maxItems: null,
			items: null
		})

		fetch('/api/diseases').then(function (response) {
			return response.json();
		}).then(function (diseases) {
			diseases.forEach(d => {
				$("#predictable-diseases").append('<div><b>'+d+'</b></div>')
			});
		});
	</script>
</body>

</html>