<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Home - Diagnostisator</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
	 crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/awesomplete/1.1.2/awesomplete.min.css">
	<style>
		.diseases-list {
			display: flex;
			justify-content: space-around;
		}

		.diseases-list>* {
			padding: 10px;
		}

		.awesomplete {
			width: 100%;
		}
	</style>
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="/">Diagnostisator</a>
	</nav>

	<form class="container" method="POST" action="/predict">
		<br/>
		<h1>Stel een diagnose</h1>
		<p>
			De volgende ziektes kunnen voorspelt worden:
			<div id="predictable-diseases" class="diseases-list"></div>
		</p>
		<br/>
		<section class="row">
			<div class="col-sm-12 col-md-4">
				<h3>Symptomen</h3>
				<input class="awesomplete dropdown-input" list="mylist" name="symptoms" data-multiple>
				<datalist id="mylist">
					{% for symptom in symptoms %}
					<option>{{symptom}}</option>
					{% endfor %}
				</datalist>
			</div>
			<div class="col-sm-12 col-md-4">
				<h3>Leeftijd</h3>
				<div class="input-group mb-3">
					<input type="number" class="form-control" id="age" name="age" min="0" max="150" required/>
					<div class="input-group-append">
						<span class="input-group-text">jaar oud</span>
					</div>
				</div>
			</div>
			<div class="col-sm-12 col-md-4">
				<div class="form-group">
					<h3>Geslacht</h3>
					<select class="form-control" id="gender" name="gender" required>
						<option value="1">Man</option>
						<option value="0">Vrouw</option>
					</select>
				</div>
			</div>
		</section>
		<button type="submit" class="btn btn-primary" style="float: right;">Voorspel een diagnose</button>
	</form>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	 crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
	 crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
	 crossorigin="anonymous"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/awesomplete/1.1.2/awesomplete.min.js"></script>

	<script>
		new Awesomplete('awesomplete[data-multiple]', {
			filter: function(text, input) {
				return Awesomplete.FILTER_CONTAINS(text, input.match(/[^,]*$/)[0]);
			},

			item: function(text, input) {
				return Awesomplete.ITEM(text, input.match(/[^,]*$/)[0]);
			},

			replace: function(text) {
				var before = this.input.value.match(/^.+,\s*|/)[0];
				this.input.value = before + text + ", ";
			}
		});

Awesomplete.$('.dropdown-btn').addEventListener("click", function() {
	if (comboplete.ul.childNodes.length === 0) {
		comboplete.minChars = 0;
		comboplete.evaluate();
	}
	else if (comboplete.ul.hasAttribute('hidden')) {
		comboplete.open();
	}
	else {
		comboplete.close();
	}
});
	
		

		fetch('https://127.0.0.1:5000/api/diseases').then(function (response) {
			return response.json();
		}).then(function (diseases) {
			diseases.forEach(d => {
				$("#predictable-diseases").append('<div><b>'+d+'</b></div>')
			});
		});
	</script>
</body>

</html>